[user]
	name = Anonymous
	email = anonymous@example.com
[alias]
	l1 = log --decorate=short --format=oneline --graph
	l2 = log --decorate=short --format=short --graph
	l3 = log --decorate=short --format=medium --date=iso --graph
	l4 = log --decorate=short --format=medium --date=iso --graph --stat
	l5 = log --decorate=short --format=fuller --date=iso --graph --stat
